<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urna dos estudantes - Detalhes dos Candidatos</title>
    <link rel="stylesheet" href="../wwwroot/css/cand_info.css">
    <link rel="shortcut icon" href="../wwwroot/images/login-register/urna.svg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="containerGeral">
            <div class="goBack">
                <a href="user_options.html">← Voltar</a>
            </div>

            <div class="allPersons">
                <div class="person">
                    <div class="area-img">
                        <img src="../wwwroot/images/candidatos/84_2.jpg" alt="">
                    </div>
                    <p><b>Nome:</b> Exemplo</p>
                    <p><b>Número:</b> 12345</p>
                    <p class="description"><b>Descrição:</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
                
                <div class="person">
                    <div class="area-img">
                        <img src="../wwwroot/images/candidatos/84_2.jpg" alt="">
                    </div>
                    <p><b>Nome:</b> Exemplo</p>
                    <p><b>Número:</b> 12345</p>
                    <p class="description"><b>Descrição:</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
                
                <div class="person">
                    <div class="area-img">
                        <img src="../wwwroot/images/candidatos/84_2.jpg" alt="">
                    </div>
                    <p><b>Nome:</b> Exemplo</p>
                    <p><b>Número:</b> 12345</p>
                    <p class="description"><b>Descrição:</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
            </div>


           <!--  <div class="goBack">
                <a href="user_options.html">← Voltar</a>
            </div> -->
        </div>
    </div>
</body>
</html>