<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urna dos estudantes - Login</title>
    <link rel="stylesheet" href="../wwwroot/css/user_options.css">
    <link rel="shortcut icon" href="../wwwroot/images/login-register/urna.svg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="containerGeral">
            <div class="title">
                <h1>Bem-Vindo!</h1>
            </div>
            <div class="buttons">
                <a href="urna.html">VOTAR</a>
                <a>INFORMAÇÕES</a>
                <a>QUANTIDADE DE VOTOS</a>
            </div>
        </div>
    </div>
</body>
</html>