@charset "UTF-8";

:root{
    --white: #fff;
    --black: #000;
    --blue: rgb(60,66,205);
    --orange: #f09046;
    --green: #48c079;
    --grey: #555555;
    --darkgrey: #403a3a;
    --lightgrey: #C1C1C1;
    --almostwhite: #E8E8E8;
    --salmon: #dbd5c9;
}

@keyframes pisca {
    0%{ opacity: 0.2; }
    50%{ opacity: 1; }
    100%{ opacity: 0.2; }
}

@keyframes clica{
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.urna {
    width: 100%;
    background: var(--salmon);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.tela {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, var(--almostwhite),var(--lightgrey));
    border: 2px solid var(--grey);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.teclado {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--darkgrey);
}

.teclado--linha {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.teclado--botao {
    width: 70px;
    height: 40px;
    background-color: var(--black);
    color: var(--white);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: 3px 3px 0px var(--grey); */
}

.teclado--botao:active {
    animation-name: clica;
    animation-duration: 1s;
    background-color: var(--grey);
}

.botao--branco {
    background: var(--white);
    color: var(--black);
    font-size: 15px;
}

.botao--corrige {
    background-color: var(--orange);
    color: var(--black);
    font-size: 15px;
    width: 80px;
}

.botao--confirma {
    background-color: var(--green);
    color: var(--black);
    font-size: 15px;
    width: 100px;
    height: 65px;
}

.d-1 {
    flex: 1;
    display: flex;
}

.d-1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.d-1-2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3 {
    height: 50px;
}

.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid var(--black);
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4 {
    flex: 1;
    line-height: 30px;
}

.d-1-right {
   width: 90px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.d-1-image {
    width: 90%;
    background-color: var(--white);
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}

.d-1-image img {
    width: 90%;
    height: 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.d-1-image.small {
    width: 80%;
    font-size: 12px;
}

.d-1-image.small img{
    width: 90%;
    height: 70px;
    font-size: 12px;
}

.d-2 {
    height: 70px;
    font-size: 15px;
    border-top: 2px solid var(--black);
    padding-left: 10px;
}

.aviso--grande {
    font-size: 40px;
    font-weight: bold;
}

.aviso--gigante {
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1281px) {
    body{
        background: --blue;
        background: linear-gradient(214deg, rgba(60,66,205,1) 0%, rgba(20,37,156,1) 50%, rgba(1,0,88,1) 100%);
    }
    
    .urna{
        width: 70%;
        height: 500px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .tela{
        width: 450px;
        height: 400px;
    }

    .teclado{
        width: 450px;
        margin: 0;
    }

    .teclado:hover{
        border-radius: 10px;
    }
}

@media (min-width: 1600px) {
    .tela{
        width: 550px;
        height: 400px;

        margin-top: 5px;
    }
    
    .teclado{
        width: 500px;
    }
}

@media (min-width: 1920px) {
    .urna{
        width: 50%;
        height: 600px;
        padding: 50px;
    }

    .tela{
        width: 650px;
        height: 400px;
        margin-right: 10px;
    }
    
    .teclado{
        width: 600px;
        height: 400px;
        margin-left: 10px;
    }
}