<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urna dos estudantes - Cadastro</title>
    <link rel="stylesheet" href="css/login-register.css">
    <link rel="shortcut icon" href="images/login-register/urna.svg" type="image/x-icon">
    <script src="js/index.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="containerGeral">
            <div class="illustration">
                <img src="images/FG.png" alt="">
                <div>
                    <img src="images/login-register/urna.svg" alt="urna">
                    <h1>Urna<br/>dos Estudantes</h1>
                </div>
            </div>

            <div class="infoContainer">
                <div class="registerOptionContainer">
                    <p>Já tem uma conta?</p><a href="login.html">Login</a>
                </div>
                <br>
                <div class="formContainer">
                    <img src="images/login-register/userAdd.png" alt="user">
                    <h2>Cadastro</h2>
                    
                    <!-- Adicionar uma rota para os envios de dados  -->
                    <form action="" method="post">
                        <div class="formContent">
                            <p>Nome</p>
                            <input type="text" name="fieldName" id="fieldName" required>
                            
                            <p>Matricula</p>
                            <input type="text" name="fieldMatricula" id="fieldMatricula" required>
                            
                            <p>Senha</p>
                            <input type="password" name="fieldPasswordRegister" id="fieldPasswordRegister" required>
                            
                            <p>Confirmar Senha</p>
                            <input type="password" name="fieldPasswordRegisterConfirm" id="fieldPasswordRegisterConfirm" required>
                        </div>

                        <input type="submit" value="Cadastrar">
                        <!-- onclick="alertarCodigo(1, 20)" -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>